.header {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  outline: 1px solid black;
}

.logo-container {
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-container img {
  width: 70px;
}

.nav-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.user-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
