.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  align-items: center;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  outline: 1px solid black;
  padding: 0 20px;
}

.logo-container {
  grid-column: 1 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo-container img {
  width: 70px;
}

.nav-container {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link p {
  font-size: 1.2rem;
}

.nav-link:hover {
  text-decoration: 2px solid underline;
  text-underline-offset: 15px;
}

.cart {
  display: flex;
  justify-content: flex-end;
}

.cart-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 20px;
}
