.cart-container,
.empty-cart {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 40px;
}

.cart-container {
  justify-content: space-between;
}

.empty-cart {
  flex-direction: column;
  height: 60vh;
  gap: 80px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.cart-card {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid lightgray;
  padding: 30px 0;
  width: 800px;
  height: 300px;
}

.cart-card img {
  width: 200px;
  object-fit: contain;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.qty-subtotal {
  display: flex;
  justify-content: space-between;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 30px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid lightgray;
  height: max-content;
  padding: 20px;
}

.cart-summary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn-checkout,
.btn-continue-shopping {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 13px 0;
  cursor: pointer;
}

.btn-checkout {
  background-color: black;
  color: white;
  border: none;
}

.btn-continue-shopping {
  background-color: white;
  border: 1px solid black;
}
