.cart-container,
.empty-cart {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 40px;
}

.cart-container {
  justify-content: space-between;
  gap: 30px;
}

.empty-cart {
  flex-direction: column;
  height: 60vh;
  gap: 80px;
}

.left-container {
  display: flex;
  justify-content: center;
}

.cart-items {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.cart-card {
  display: flex;
  justify-content: center;
  gap: 30px;
  border-bottom: 2px solid lightgray;
  padding: 30px 0;
  width: 100%;
  height: 250px;
  position: relative;
}

.btn-remove-product {
  position: absolute;
  top: 28px;
  right: 8px;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: gray;
  cursor: pointer;
  transition: 0.2s linear;
}

.btn-remove-product:hover {
  color: red;
}

.cart-card img {
  width: 200px;
  object-fit: contain;
}

.item-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.item-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-info > h3 {
  width: 85%;
}

.qty-subtotal {
  display: flex;
  justify-content: space-between;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 30px;
}

.cart-summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  border: 1px solid lightgray;
  height: max-content;
  padding: 20px;
}

.cart-summary > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.btn-checkout,
.btn-continue-shopping {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 13px 0;
  cursor: pointer;
}

.btn-checkout {
  background-color: black;
  color: white;
  border: none;
}

.btn-continue-shopping {
  background-color: white;
  border: 1px solid black;
}

.left-container {
  display: flex;
  flex-direction: column;
}

/* TABLET and MOBILE */
@media screen and (max-width: 950px) {
  .cart-container {
    flex-direction: column;
  }

  .cart-card {
    flex-direction: column;
    align-items: center;
    height: max-content;
  }

  .right-container {
    width: 100%;
  }

  .item-info-container {
    width: 100%;
  }
}
