.content-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  border: 2px solid gray;
  border-radius: 10px;
}

.card .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card img {
  aspect-ratio: 0.8;
  cursor: pointer;
}
